body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #222;
    color: white;
}
.MaquinaSlot {
    display: inline-block;
    padding: 20px;
    background: #333;
    border-radius: 10px;
}
.S {
    display: flex;
    justify-content: center;
    font-size: 2em;
    margin: 20px 0;
}
.Controles {
    margin-top: 10px;
}
button {
    padding: 10px;
    margin: 5px;
    font-size: 1em;
    border-radius: 30px;
}
